{% extends "base_privada.html" %}
{% load static %}

        {% block imagenperfil %}
            <img class="img-fluid rounded" src="{% static 'app/img/profe luis.jpg' %}">
        {% endblock imagenperfil %}

        <!-- MAIN -->
        {% block main %}
        <div class="col py-3">
            <div class="block-header">
                <h2>Examenes</h2>
                <small class="text-muted"></small>
            </div>

            <div class="row">
                    <div class="col-md-4">
                        <div class="month">
                          <ul>
                            <li class="prev">&#10094;</li>
                            <li class="next">&#10095;</li>
                            <li>Noviembre<br><span style="font-size:18px">2020</span></li>
                          </ul>
                        </div>
                    
                        <ul class="weekdays">
                          <li>Lu</li>
                          <li>Ma</li>
                          <li>Mie</li>
                          <li>Ju</li>
                          <li>Vi</li>
                          <li>Sa</li>
                          <li>Dom</li>
                        </ul>
                    
                        <ul class="days">
                          <li>1</li>
                          <li>2</li>
                          <li>3</li>
                          <li>4</li>
                          <li>5</li>
                          <li>6</li>
                          <li>7</li>
                          <li>8</li>
                          <li>9</li>
                          <li>10</li>
                          <li><span class="cita">11</span></li>
                          <li>12</li>
                          <li>13</li>
                          <li>14</li>
                          <li>15</li>
                          <li>16</li>
                          <li>17</li>
                          <li>18</li>
                          <li>19</li>
                          <li>20</li>
                          <li>21</li>
                          <li><span class="cita">22</span></li>
                          <li>23</li>
                          <li>24</li>
                          <li>25</li>
                          <li>26</li>
                          <li>27</li>
                          <li><span class="active">28</span></li>
                          <li>29</li>
                          <li>30</li>
                          <li>31</li>
                    
                        </ul>
                        </div>
                    
                        <div class="col-md-4">
                          <div class="month">
                            <ul>
                              <li class="prev">&#10094;</li>
                              <li class="next">&#10095;</li>
                              <li>Diciembre<br><span style="font-size:18px">2020</span></li>
                            </ul>
                          </div>
                    
                          <ul class="weekdays">
                            <li>Lu</li>
                            <li>Ma</li>
                            <li>Mie</li>
                            <li>Ju</li>
                            <li>Vi</li>
                            <li>Sa</li>
                            <li>Dom</li>
                          </ul>
                    
                          <ul class="days">
                            <li>1</li>
                            <li>2</li>
                            <li>3</li>
                            <li>4</li>
                            <li>5</li>
                            <li>6</li>
                            <li>7</li>
                            <li><span class="cita">8</span></li>
                            <li>9</li>
                            <li>10</li>
                            <li>11</li>
                            <li>12</li>
                            <li>13</li>
                            <li><span class="cita">14</span></li>
                            <li>15</li>
                            <li>16</li>
                            <li>17</li>
                            <li>18</li>
                            <li>19</li>
                            <li>20</li>
                            <li>21</li>
                            <li>22</li>
                            <li>23</li>
                            <li><span class="cita">24</span></li>
                            <li>25</li>
                            <li>26</li>
                            <li>27</li>
                            <li>28</li>
                            <li>29</li>
                            <li>30</li>
                            <li>31</li>
                    
                          </ul>
                          </div>
                    
                          <div class="col-md-4">
                            <div class="month">
                              <ul>
                                <li class="prev">&#10094;</li>
                                <li class="next">&#10095;</li>
                                <li>Enero<br><span style="font-size:18px">2021</span></li>
                              </ul>
                            </div>
                    
                            <ul class="weekdays">
                              <li>Lu</li>
                              <li>Ma</li>
                              <li>Mie</li>
                              <li>Ju</li>
                              <li>Vi</li>
                              <li>Sa</li>
                              <li>Dom</li>
                            </ul>
                    
                            <ul class="days">
                              <li>1</li>
                              <li>2</li>
                              <li>3</li>
                              <li>4</li>
                              <li>5</li>
                              <li>6</li>
                              <li>7</li>
                              <li>8</li>
                              <li>9</li>
                              <li>10</li>
                              <li>11</li>
                              <li><span class="cita">12</span></li>
                              <li>13</li>
                              <li>14</li>
                              <li>15</li>
                              <li>16</li>
                              <li>17</li>
                              <li>18</li>
                              <li>19</li>
                              <li><span class="cita">20</span></li>
                              <li>21</li>
                              <li>22</li>
                              <li>23</li>
                              <li>24</li>
                              <li>25</li>
                              <li>26</li>
                              <li>27</li>
                              <li>28</li>
                              <li>29</li>
                              <li>30</li>
                              <li>31</li>
                    
                            </ul>
                            </div>
            </div>
            <!--row-->
            <!-- Main Col END -->
        </div>
        <!-- body-row END -->

        {% endblock main%}

        {%block footer%}
        <footer class="footer fixed-bottom bg-dark text-center">
            <p class="text-muted">&copy; 2020 Awakelab.</p>
            <p class="text-muted">Grupo Full Stack Python</p>
        </footer>
        {% endblock footer %}

        <!-- jQuery, Popper.js, Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
            integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
            </script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
            </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
            integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous">
            </script>

        {% block script %}   
        {% comment %} <script src="{% static 'appjs/main.js' %}"></script> {% endcomment %}
        {% endblock script %}
</body>

</html>