
{% extends "base_privada.html" %}
{% load static %}


        {% block imagenperfil %}
            <img class="img-fluid rounded" src="{% static 'app/img/profe luis.jpg' %}">
        {% endblock imagenperfil %}

        <!-- MAIN -->
        {% block main %}

        <div class="col py-3">
            <div class="block-header">
                <h2>Agregar Usuario</h2>
                <small class="text-muted"></small>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md12 col-sm-12">
                    <div class="card">
                        <div class="body">
                            <div class="row">
                              <form id="formulario" class="col-md-4" method="POST" novalidate>
                                     {% csrf_token %}
                                        <table>
                                          {{formulario.as_table}}
                                        </table>
                                        
                                        <input type="hidden" name="elemento" value="Paciente">
                                        <button type="submit" class="btn btn-primary mb-3">Agregar</button>
                                     
                                </form>
                                <table class="table col-md-8">
                                    <thead class="thead-inverse">
                                      <tr>
                                        <th>ID</th>
                                        <th>Nombre</th>
                                        <th>Correo</th>
                                        <th>Clave</th>
                                        <th>Rut</th>
                                        <th>Edad</th>
                                        <th>Fecha</th>
                                      </tr>
                                    </thead>
                                    <tbody id="Datos">
                                      {% for pacientes in lista_pacientes %}
                                       <tr>
                                          <td>{{ pacientes.id }}</td>
                                          <td>{{ pacientes.nombre }}</td>
                                           <td>{{ pacientes.correo }}</td>
                                          <td>{{ pacientes.clave }}</td>
                                         
                                          <td>{{pacientes.rut }}</td>
                                          <td>{{pacientes.edad }}</td>
                                          <td>{{pacientes.fecha }}</td>
                                          <td>
                                            <a href="{% url 'app:eliminar_pacientes' rut=pacientes.rut %}" class="btn btn-dark">Borrar</a>
                                          <td/>
                                      <tr>
                                      {% endfor %}
                                    </tbody>
                                  </table>
                            </div>
                        </div>
                    
                          <div class="modal fade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                              <div class="modal-content">
                               
                              </div>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!--row-->
        <!-- Main Col END -->
    </div>
    <!-- body-row END -->
    {% endblock main %}
    
    {%block footer%}
    <footer class="footer fixed.bottom bg-dark text-center">
        <p class="text-muted">&copy; 2020 Awakelab.</p>
        <p class="text-muted">Grupo Full Stack Python</p>
    </footer>
    {% endblock footer %}

 
    {% block script %}   
    <script src="{% static 'app/js/main.js' %}"></script>
    {% endblock script %}
</body>

</html>