

{% for examen in lista_examenes %}
  
  <tr>
    <td>{{ examen.id }}</td>
    <td>{{ examen.nombre }}</td>
    <td>{{ examen.rut }}</td>
    <td>{{ examen.edad }}</td>
    <td>{{ examen.examenes.0.fecha }}</td>
    <td>{{ examen.examenes.0.hemograma }}</td>
    <td>{{ examen.examenes.0.orina }}</td>
    <td>{{ examen.examenes.0.colesterolhdl }}</td>
    <td>{{ examen.examenes.0.colesterolldl}}</td>
    <td>{{ examen.examenes.0.glucosa }}</td>
    <td>
      <a href="{% url 'app:eliminar_examen' pk=examen.id %}" class="btn btn-danger btn-sm ">Eliminar</a>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="10" class="text-center bg-warning">No hay examenes</td>
  </tr>
{% endfor %}