
 <div class="modal-header border-bottom-0">
    <h5 class="modal-title" id="exampleModalLabel">Ingresar Examen</h5>
    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
 </button>
</div>
<form method="POST">
  {% csrf_token %}
  <div class="modal-body">
   {% for field in formulario %}
      {{field.label}}
      {{field}}
      {{field.has_error}}
      {{field.errors}}
      {% comment %} <div class="form-group{% if field.errors %} has-error{% endif %}">
        <label for="{{ field.id_for_label }}">{{ field.label }}</label>
        {% render_field field class="form-control" %}
        {% for error in field.errors %}
          <p class="help-block">{{ error }}</p>
        {% endfor %}
      </div> {% endcomment %}
    {% endfor %} 
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
    <button type="submit" class="btn btn-primary">Agregar</button>
  </div>
</form>


                                {% comment %} <form id="formulario">
                                  <div class="modal-body">
                                    <div class="form-group">
                                      <label for="nombre">Nombre</label>
                                      <input type="text" class="form-control" id="nombre" placeholder="Ingresar su nombre" required>
                                      <small class="form-text text-muted">su informacion esta encriptada</small>
                                    </div>
                                    <div class="form-group">
                                        <label for="Rut">Rut</label>
                                        <input type="text" class="form-control" id="Rut" placeholder="Ingresar Rut" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="tipo examen">Tipo de Examen</label>
                                        <input type="text" class="form-control" id="Tipo" placeholder="Ingresar Tipo de Examen" required>
                                      </div>
                                      <div class="form-group">
                                        <label for="Medico">Nombre medico Tratante</label>
                                        <input type="text" class="form-control" id="Medico" placeholder="Ingresar nombre Medico" required>
                                      </div>
                                    
                                  </div> <!--modal body-->
                                  <div class="modal-footer border-top-0 d-flex justify-content-center">
                                    <button id="enviar" data-dismiss="modal" class="btn btn-success disabled">Agregar</button>
                                  </div>
                                </form> {% endcomment %}