

{% for examen in lista_examenes %}
  
  <tr>
    <td>{{ examen.nombre }}</td>
    <td>{{ examen.rut }}</td>
    <td>{{ examen.edad }}</td>
    <td>{{ examen.fecha }}</td>
    <td>{{ examen.hemograma }}</td>
    <td>{{ examen.orina }}</td>
    <td>{{ examen.colesterolhdl }}</td>
    <td>{{ examen.colesterolldl}}</td>
    <td>{{ examen.glucosa }}</td>
    <td>
      <button type="button"
              class="btn btn-danger btn-sm js-delete"
              data-url="{% url 'app:eliminar_examen' examen.rut %}">
        <span class="glyphicon glyphicon-trash"></span> Eliminar
      </button>
    </td>
  </tr>
{% empty %}
  <tr>
    <td colspan="7" class="text-center bg-warning">No hay examenes</td>
  </tr>
{% endfor %}