{% extends "base_privada.html" %}
{% load static %}

        {% block imagenperfil %}
                <img class="img-fluid rounded" src="{% static 'app/img/profe luis.jpg' %}">
         {% endblock imagenperfil %}

        <!-- MAIN -->
        {% block main %}
        <div class="col py-3">
            <div class="block-header">
                <h2>Estadisticas de Examenes</h2>
                <small class="text-muted"></small>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h2 class="text-center">Glucosa</h2>
                    <canvas id="Azucar" width="400" height="400"></canvas>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h2 class="text-center">Presion Arterial</h2>
                    <canvas id="Presion" width="400" height="400"></canvas>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-12">
                    <h2 class="text-center">Perfil Renal</h2>
                    <canvas id="PerfilRenal" width="400" height="400"></canvas>
                </div>
            </div>
        </div>
        <!--row--> 
        <!-- Main Col END -->
    </div>
    <!-- body-row END -->
    {%endblock main%}


    {% block footer %}
        <footer class="footer fixed.bottom bg-dark text-center">
            <p class="text-muted">&copy; 2020 Awakelab.</p>
            <p class="text-muted">Grupo Full Stack Python</p>
        </footer>
    {% endblock footer %}

    
    {% block script %}
        <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
        <script src="{% static 'app/js/graficos.js' %}"></script>
    {% endblock script %}

</body>
</html>