body {
    padding-top: 56px;
}

.sticky-offset {
    top: 56px;
}

#body-row {
    margin-left:0;
    margin-right:0;
}

#perfil{
    padding: 21px 15% 5px 13%;
}

.iconos{
    max-width: 45px;
    height: 100%;
}

/*ESTILOS PROPIOS */

.block-header {
    margin-bottom: 15px;
    padding: 10px 0;
}

.block-header h2 {
    margin: 0 !important;
    color: #30373e !important;
    font-weight: 600;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.card .body {
    color: #424242;
    font-weight: 400;
    padding: 20px;
}

.nav-tabs {
    background: transparent;
}

.nav-tabs > li {
    position: relative;
}

.nav-tabs .nav-link.active {
    border-bottom: 2px solid #ab9ae5 !important;
}
.nav-tabs + .tab-content {
    padding: 15px 0;
}

#Historial .timeline {
    border-left: 1px solid #e0e0e0;
    position: relative;
}

#Historial .timeline .timeline-item {
    padding-bottom: 3px;
    position: relative;
}

#Historial .timeline .timeline-item {
    margin-bottom: -4px;
}

#Historial .timeline .timeline-item .item-content {
    margin-left: 23px;
}

#Historial .timeline .timeline-item .item-content {
    margin-top: 0px;
}

#Historial .timeline .timeline-item::after{
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
    border-color: inherit;
    border-style: solid;
    border-width: 2px;
    content: "";
    height: 11px;
    left: 0;
    margin-left: -6px;
    position: absolute;
    width: 11px;
    bottom: auto;
    clear: both;
    top: 4px;
}

#team-carousel {
 margin: auto;
}
.carousel-img { 
    max-width: 800px;
    
}

.carousel-inner {
    width: auto;
    text-align: center;
}

#sidebar-container {
    min-height: 100vh;   
    background-color: #333;
    padding: 0;
}

/* Sidebar sizes when expanded and expanded */
.sidebar-expanded {
    width: 230px;
}
.sidebar-collapsed {
    width: 60px;
}

/* Menu item*/
#sidebar-container .list-group a {
    height: 60px;
    color: white;
}

/* Submenu item*/
#sidebar-container .list-group .sidebar-submenu a {
    height: 45px;
    padding-left: 30px;
}
.sidebar-submenu {
    font-size: 0.9rem;
}

/* Separators */
.sidebar-separator-title {
    background-color: #333;
    height: 35px;
}
.sidebar-separator {
    background-color: #333;
    height: 25px;
}
.logo-separator {
    background-color: #333;    
    height: 60px;
}
